<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Agent</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<nav class="navbar">
    <div class="navbar-content">
        <img src="/Users/santhan1400/Documents/assignments/3rd quarter/oops/final_project/hotproperties/src/main/resources/static/images/logo.png" alt="Logo" class="logo">
        <a th:href="@{/dashboard}">
            <button type="button">Back to Dashboard</button>
        </a>
    </div>
</nav>
<div class="container">
    <h1>Create a New Agent</h1>

    <form method="post" th:action="@{/users/admin/create-agent}" th:object="${user}" enctype="multipart/form-data">

        <label for="firstName">First Name</label>
        <input id="firstName" required="" th:field="*{firstName}" type="text"/>

        <label for="lastName">Last Name</label>
        <input id="lastName" required="" th:field="*{lastName}" type="text"/>

        <label for="username">Email</label>
        <input id="username" required="" th:field="*{email}" type="email"/>

        <label for="password">Password</label>
        <input id="password" required="" th:field="*{password}" type="password"/>

        <br/><br/>

        <button class="submit-btn" type="submit">Create Agent</button>
    </form>

</div>
</body>
</html>
