<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>User Management</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div th:replace="fragments/navbar :: navbar(true)"></div>
<div class="container">
    <div th:if="${successMessage}" class="success">
        <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}" class="failure">
        <p th:text="${errorMessage}"></p>
    </div>
    <h1>User Management</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${users}">
            <td th:text="${u.lastName + ', ' + u.firstName}">Full Name</td>
            <td th:text="${u.email}">email</td>
            <td th:text="${u.role.name.replace('ROLE_', '')}">email</td>
            <td>
                <a th:href="@{/delete/user/{email}(email=${u.email})}">

                    <button class="red" type="button"
                            onclick="return confirm('Are you sure you want to delete this user?')">Delete
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="back-link">
        <a th:href="@{/dashboard}">← Back to Dashboard</a>
    </div>
    </br></br>
</div>
</body>
</html>
