<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Property</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="container">
    <h1>Add New Property</h1>

    <form method="post" th:action="@{/properties/add}" th:object="${property}" enctype="multipart/form-data">

        <label for="firstName">Title</label>
        <input id="firstName" required="" th:field="*{firstName}" type="text"/>

        <label for="lastName">Last Name</label>
        <input id="lastName" required="" th:field="*{lastName}" type="text"/>

        <label for="username">Email</label>
        <input id="username" required="" th:field="*{email}" type="text"/>

        <label for="password">Password</label>
        <input id="password" required="" th:field="*{password}" type="password"/>

        <br/><br/>

        <button class="submit-btn" type="submit">Create Agent</button>
    </form>

</div>
</body>
</html>
