<!DOCTYPE html>

<html xmlns:sec="https://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="fragments/fragments :: navbar(false)"></div>
<div class="login-container" style="margin-bottom: 25rem;  display: flex; justify-content: center; ">
    <div class="welcome-box" style="width: 55%; max-width: 800px; padding: 2rem; border-radius: 10px; ">
        <div th:if="${successMessage}" class="success">
            <p th:text="${successMessage}"></p>
        </div>
        <div th:if="${errorMessage}" class="failure">
            <p th:text="${errorMessage}"></p>
        </div>
        <h1 th:text="'Welcome, ' + ${user.firstName} + ' ' + ${user.lastName} + '!'">Welcome!</h1>

        <p class="profile-table" style="color: gray; padding-bottom: 1.2rem"
           th:text="'Your role: '+${user.role.name.replace('ROLE_', '')}">Your role:</p>
        <div style="flex-direction: column; text-align: left">

            <h2 th:if="${#authorization.expression('hasRole(''AGENT'')')}">Agent Dashboard</h2>
            <h2 th:if="${#authorization.expression('hasRole(''BUYER'')')}">Buyer Dashboard</h2>
            <h2 th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Admin Dashboard</h2>

            <hr style="margin-top: 1rem">
            <ul class="no-bullets" style="margin-top: 1rem;">
                <li><a th:href="@{/profile}">My Profile</a></li>

                <!--Buyer options-->
                <li th:if="${#authorization.expression('hasRole(''BUYER'')')}">
                    <a th:href="@{/properties/list}">Browse Properties</a>
                </li>
                <li th:if="${#authorization.expression('hasRole(''BUYER'')')}">
                    <a th:href="@{/favorites}" th:text="'Saved Favorites (' + ${countOfFavorites} + ')'">Saved Favorites</a>
                </li>

                <!--Admin options-->
                <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a th:href="@{/users/admin}">Manage Users</a>
                </li>
                <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a th:href="@{/users/admin/create-agent}">Create Agent</a>
                </li>

                <!--        Agent options-->
                <li th:if="${#authorization.expression('hasRole(''AGENT'')')}">
                    <a th:href="@{/properties/manage}">Manage Listings</a>
                </li>
                <li th:if="${#authorization.expression('hasRole(''AGENT'')')}">
                    <a th:href="@{/properties/add}">Add New Property</a>
                </li>

                <li th:if="${#authorization.expression('hasRole(''BUYER'')')}">
                    <a th:href="@{/messages/buyer}">View Messages</a>
                </li>

                <li th:if="${#authorization.expression('hasRole(''AGENT'')')}">
                    <a th:href="@{/messages/agent}"
                       th:text="'View Messages (' + ${unrepliedMessagesCount} + ')'">View Messages</a>
                </li>
            </ul>
        </div>
        <a class="section-spacing" th:href="@{/logout}">
            <div style="text-align: center; ">
                <button style="width: 5rem" class="logout">Logout</button>
            </div>
        </a>


    </div>
</div>
</body>
</html>
