<!DOCTYPE html>

<html xmlns:sec="https://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<nav class="navbar">
    <div class="navbar-content">
        <img src="/Users/santhan1400/Documents/assignments/3rd quarter/oops/final_project/static_images//Users/santhan1400/Documents/assignments/3rd quarter/oops/final_project/hotproperties/src/main/resources/static/images/logo.png" alt="Logo" class="logo">
    </div>
</nav>
<div class="login-container">
    <div class="welcome-box">
    <div th:if="${successMessage}" class="success">
        <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}" class="failure">
        <p th:text="${errorMessage}"></p>
    </div>
    <h1 th:text="'Welcome, ' + ${user.firstName} + ' ' + ${user.lastName} + '!'">Hello!</h1>

    <p class="profile-table" th:text="'Your role: '+${user.role.name.replace('ROLE_', '')}">Your role:</p>
    <h2 th:if="${#authorization.expression('hasRole(''AGENT'')')}">Agent Dashboard</h2>
    <h2 th:if="${#authorization.expression('hasRole(''BUYER'')')}">Buyer Dashboard</h2>
    <h2 th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Admin Dashboard</h2>


    <ul class="no-bullets">
        <li><a th:href="@{/profile}">My Profile</a></li>

        <!--Buyer options-->
        <li th:if="${#authorization.expression('hasRole(''BUYER'')')}">
            <a th:href="@{/properties/list}">Browse Properties</a>
        </li>
        <li th:if="${#authorization.expression('hasRole(''BUYER'')')}">
            <a th:href="@{/favorites}">Saved Favorites</a>
        </li>

        <!--Admin options-->
        <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <a th:href="@{/users/admin}">Manage Users</a>
        </li>
        <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <a th:href="@{/users/admin/create-agent}">Create Agent</a>
        </li>

        <!--        Agent options-->
        <li th:if="${#authorization.expression('hasRole(''AGENT'')')}">
            <a th:href="@{/properties/manage}">Manage Listings</a>
        </li>
        <li th:if="${#authorization.expression('hasRole(''AGENT'')')}">
            <a th:href="@{/properties/add}">Add New Property</a>
        </li>

        <li th:if="${#authorization.expression('hasRole(''BUYER'')')}">
            <a th:href="@{/messages/buyer}">View Messages</a>
        </li>

        <li th:if="${#authorization.expression('hasRole(''AGENT'')')}">
            <a th:href="@{/messages/agent}">View Messages</a>
        </li>

        <li><a class="section-spacing" th:href="@{/logout}">
            <div style="text-align: center;">
                <button class="logout">Logout</button>
            </div>
        </a></li>

    </ul>
</div>
</div>
</body>
</html>
