<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<nav class="navbar">
    <div class="navbar-content">
        <img src="/Users/santhan1400/Documents/assignments/3rd quarter/oops/final_project/hotproperties/src/main/resources/static/images/logo.png" alt="Logo" class="logo">
    </div>
</nav>
<div class="login-container">
    <div class="welcome-box">
    <h1>Welcome to HotProperties</h1>
    <p style="text-align: center">Find your dream home or manage your listings with ease.</p>

    <!-- ✅ Static image served from /static/images -->
<!--    <img th:src="@{/images/spring.webp}" alt="Spring Boot Dashboard" class="centered-image" />-->

<!--    <p class="centered-link">Please log in to access your dashboard.</p>-->

    <div style="display: flex; justify-content: center; gap: 10px;">
        <a th:href="@{/login}">
            <button type="button">Log In</button>
        </a>
        <a th:href="@{/register}">
            <button type="button">Register</button>
        </a>
    </div>

</div>
</div>
</body>
</html>
