<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script>
        function togglePasswordVisibility() {
            const passwordField = document.getElementById('password');
            passwordField.type = passwordField.type === 'password' ? 'text' : 'password';
        }
    </script>
</head>
<body>
<div th:replace="~{fragments/fragments :: navbar(false)}"></div>
<div class="login-container" style="margin-bottom: 25rem">
    <div class="welcome-box">

    <h1>Login</h1>
        <div th:if="${successMessage}" class="success">
            <p th:text="${successMessage}"></p>
        </div>
        <div th:if="${errorMessage}" class="failure">
            <p th:text="${errorMessage}"></p>
        </div>
    <div th:if="${error}" class="failure">
        <p th:text="${error}"></p>
    </div>
    <form method="post" th:action="@{/login}" th:object="${user}">
        <label for="username">Email</label>
        <input id="username" th:field="*{email}" type="text"/>
        <label for="password">Password</label>
        <input id="password" th:field="*{password}" type="password"/>
        <!-- Show Password Checkbox -->
        <label class="profile-table">
            <input class="checkbox-margin" onclick="togglePasswordVisibility()" type="checkbox"/>
            Show Password
        </label>
        <!-- Error Message -->
        <div class="error-message" th:if="${loginError}" th:text="${loginError}"></div>
        <button type="submit">Log In</button>
    </form>
    <!-- Register Link -->
    <p class="section-spacing" style="color: #0056b3">

        <a th:href="@{/register}" style="font-weight: normal;">Don't have an account? Register here</a>
    </p>
</div>
</div>
</body>
</html>
