<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Manage Properties</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="container">
    <div th:if="${successMessage}" class="success">
        <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}" class="failure">
        <p th:text="${errorMessage}"></p>
    </div>
    <h1>Manage Your Properties</h1>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Location</th>
            <th>Size</th>
<!--            <th>Images</th>-->
<!--            <th>Favourites</th>-->
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${properties}">
            <td th:text="${p.title}">Title</td>
            <td th:text="${p.price}">Price</td>
            <td th:text="${p.location}">Location</td>
            <td th:text="${p.size}">Size</td>
<!--            <td th:text="">Images</td>-->
<!--            <td th:text="">Location</td>-->

            <td>
                <a th:href="@{/edit/property/{title}(title=${p.title})}">
                    <button type="button">Edit</button>
                </a>

                <a th:href="@{/delete/property/{title}(title=${p.title})}">
                    <button type="button">Delete</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="back-link">
        <a th:href="@{/dashboard}">← Back to Dashboard</a>
    </div>
    </br></br>
</div>
</body>
</html>
