<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Profile</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar(false)}"></div>
<div class="login-container">
    <div class="welcome-box">
    <h1>My Profile</h1>
    <div th:if="${successMessage}" class="success">
        <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}" class="failure">
        <p th:text="${errorMessage}"></p>
    </div>
    <table class="profile-table">
        <tr>
            <td><strong>First Name:</strong></td>
            <td th:text="${user.firstName}">Mason</td>
        </tr>
        <tr>
            <td><strong>Last Name:</strong></td>
            <td th:text="${user.lastName}">Lee</td>
        </tr>
        <tr>
            <td><strong>Email:</strong></td>
            <td th:text="${user.email}">mason.lee@email.com</td>
        </tr>
        <tr>
            <td><strong>Role:</strong></td>
            <td th:text="${user.role.name.replace('ROLE_', '')}">
               buyer, Agent etc.
            </td>
        </tr>
    </table>
    <div style="display: flex; justify-content: space-between; margin-top: 20px;">
        <a th:href="@{/profile/edit}">
            <button type="button">Edit Profile</button>
        </a>
        <a th:href="@{/dashboard}">
            <button type="button">Back to Dashboard</button>
        </a>
    </div>

</div>
</div>
</body>
</html>
