<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Your Messages</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="container">
    <div th:if="${successMessage}" class="success">
        <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}" class="failure">
        <p th:text="${errorMessage}"></p>
    </div>
    <h1>Your Messages</h1>
    <table>
        <thead>
        <tr>
            <th>Property</th>
            <th>Your Message</th>
            <th>Sent At</th>
            <th>Agent Reply</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m : ${messages}">
            <td th:text="${m.property.title}">Property Title</td>
            <td th:text="${m.content}">Message Content</td>
            <td th:text="${#temporals.format(m.timeStamp, 'yyyy-MM-dd HH:mm')}">Sent At</td>
            <td th:text="${m.reply}">Reply</td>

            <td>
                <a th:href="@{/delete/message/{messageId}(messageId=${m.id})}">

                    <button class="red" type="button"
                            onclick="return confirm('Are you sure you want to delete this message?')">Delete
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="back-link">
        <a th:href="@{/dashboard}">← Back to Dashboard</a>
    </div>

</div>
</body>
</html>
